body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #ff5722;
}

hr.light {
  border-color: #fff;
}


a {
  color: #ff5722;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #ff5722;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #ff5722 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: #fff;
}

section {
  padding: 5rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #ff5722;
  right: 46.6%;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  top: 10px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

img.logo {
  transform: rotate(19deg);
  height: 36px;
}

@media only screen and (max-width: 767px) {
  img.logo {
    display: none;
  }
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #ff5722;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #ff5722;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #ff5722 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #ff5722;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05f40;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #ff5722;
  }
}

  #mice {
    margin: 0 auto;
    padding-bottom: 8em;
    padding-top: 5.5em;
    text-align: center;
    width: 20px;
    height: 9px;
  }

  .mouse {
    height: 30px;
    width: 22px;
    border-radius: 10px;
    transform: none;
    border: 2px solid white;
    top: 170px;
  }

  .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 7px auto;
    background: white;
    position: relative;
  }

  .wheel {
    -webkit-animation: mouse-wheel 1.2s ease infinite;
  }

  @-webkit-keyframes mouse-wheel
  {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }

  #mice span {
    display: block;
    width: 9px;
    height: 9px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 5px 0 3px 5px;
  }

  #mice span.first {
    margin-top: 20px;
  }

  .first, .second, .third
  {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
  }

  .first
  {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
  }

  .second
  {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    margin-top: -6px;
  }

  .third
  {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    margin-top: -6px;
  }

  @-webkit-keyframes mouse-scroll {
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
  }

  header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("https://goo.gl/CMqGJt");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  header.masthead h1 {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 15px;
  }

  header.masthead p {
    font-weight: 300;
  }

  header.masthead span.greeting {
    line-height: 2em;
    font-size: 21px;
  }

  @media (min-width: 768px) {
    header.masthead p {
      font-size: 1.15rem;
    }
  }

  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .skills-box {
    max-width: 400px;
  }

  h2.code {
    font-size: 4em;
  }

  .sr-skills {
    font-size: 6em;
    color: rgba(0, 215, 178, 0.9) !important;
  }

  h3.tech-description {
    margin-top: 10px;
  }

  div.card.mx-auto {
    width: 30rem;
  }

  .grow {
transition: .2s ease-in-out;
overflow: hidden;
}

.grow :hover{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: .2s ease-in-out;
}

  #contact {
  display: flex;
  justify-content: center;
}

.social-icons {
  position: relative;
  margin-bottom: 2rem;
  width: 100%;
}

.social-icons ul {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  flex-basis: 60%;
  display: inline-flex;
  justify-content: center;
}

.social-icons ul > li {
  margin-left: 1rem;
  margin-right: 1rem;
}

.social-icons ul > li > a {
  display: block;
  color: white;
  background-color: rgba(0, 215, 178, 0.7);
  border-radius: 100%;
  font-size: 2rem;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
}

  .text-primary {
    color: #ff5722 !important;
  }

  .btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }

  .btn-xl {
    padding: 1rem 2rem;
  }

  .btn-primary {
    background-color: #ff5722;
    border-color: #ff5722;
  }

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #ee4b28 !important;
  }

  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  }

  .carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.first-slide, .second-slide, .third-slide, .fourth-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.first-slide {
  background-image: url("../img/tractor.jpg");
}
.second-slide {
  background-image: url("../img/cocktail.jpg");
}

.third-slide{
  background-image: url("../img/biker.jpg");
}

.fourth-slide {
  background-image: url("../img/whale-splash.jpg");
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 32rem;
}
